body {
  background-color: #181818;
  color: #fafafa;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.loading-message{
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

.main-section-father{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  letter-spacing: 1px ;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

.list {
  margin-top: 4px;
  font-family: 'Roboto', sans-serif;
}

.items{
  margin-top: 8px;
  letter-spacing: .3px ;
}