/* realizar una
función que permita obtener un nuevo arreglo de objetos 

cada objeto consta del
nombre del usuario, su email, su dirección completa, su compañía, el título de la película vista y
la calificación de la misma 

La función debe poseer un filtro por fecha, por calificación y por id
de usuario. Si no se envía un userId, la función deberá devolver todas las películas que cumplan
las condiciones de los filtros de fecha y calificación para todos los usuarios existentes */

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .left-section,
  .middle-section,
  .right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }
  
  .left-section {
    margin-left: 4px;
  }
  
  .section-title {
    margin-top: 20px;
    font-weight: 600;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  .from-date-input {
    margin-bottom: 8px;
  }

  .from-rate-input {
    margin-bottom: 8px;
  }

  label {
    display: block;
    margin-top: 4px;
    margin-bottom: 6px;
    font-weight: 600;
  }
  
  input[type="date"],
  input[type="number"] {
    width: 100%;
    padding: 5px;
  }
  
  input[type="date"]::before {
    content: attr(placeholder) !important;
    color: #888;
  }
  
  button {
    border-radius: 10%;
    margin-top: 16px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 50px;
  }
  
  /* Estilos para las imágenes de las películas */
  #movieList img {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100px;
    height: 140px;
    object-fit: cover;
  }
  

  